@import url('https://fonts.googleapis.com/css?family=Abel|Audiowide&display=swap');
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .error-video {
    animation: App-logo-spin infinite 1s linear;
  }
}
.error-video {
  width:50%;
  height:50vh;
  margin:15% auto;
}

#search-form {
  display:flex;
  flex-direction: row;
  width:80%;
  margin:auto;
  align-items:center;
  
}
#search-form > input {
  background: darkgrey;
  width: 70%;
  height: 2vw;
  border-radius: 10px;
  color: black;
  font-size: 2vw;
  text-align: center;
  outline:none;
  margin:2%;
}
#search-form > button {
  width:25%;
  height:2vw;

}

button:hover {
  cursor: pointer;
}
nav {
  width:100%;
  background: red;
  display:flex;
}
nav > ul {
  margin:0px;
  padding:0px;
  list-style: none;
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#logo {
  margin:auto 3%;
  font-family: 'Audiowide', cursive;
}
a {
  color:black;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}
p {
  font-family: 'Abel', sans-serif;
  color:white;
}
h3 {
  font-family: 'Audiowide', cursive;
  color: #3fd4bb
}

.selected {
  color:#3fd4bb;
  font-weight: 500; 
  font-size:25px;
}
.container {
  display:flex;
  flex-direction: column;
}
.thumbnails-container {
  width:90%;
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.thumbnails {
  width:48%;
  margin:auto;
}
.thumbnails > img {
  width:80%;
}
.thumbnails > img:hover { cursor:pointer }

.thumbnails > h5 {
  margin:2% 4%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white;
  font-family: 'Audiowide', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
