@import url('https://fonts.googleapis.com/css?family=Abel|Audiowide&display=swap');
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .error-video {
    animation: App-logo-spin infinite 2s linear;
  }
}
.error-video {
  width:50%;
  height:30vw;
  margin:10% auto;
}

#search-form {
  display:flex;
  flex-direction: row;
  width:80%;
  margin:auto;
  align-items:center;
  
}
#search-form > input {
  background: darkgrey;
  width: 70%;
  border-radius: 10px;
  color: black;
  font-size: 2vw;
  text-align: center;
  outline:none;
  margin:2%;
}
#search-form > button {
  width:25%;
  font-size: 25px;

}

button:hover {
  cursor: pointer;
}
nav {
  width:100%;
  background: red;
  display:flex;
}
nav > ul {
  margin:0px;
  padding:0px;
  list-style: none;
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

  transition: all .5s ease;
}
#logo {
  
  font-family: 'Audiowide', cursive;
  font-size:25px;
}
#logo::first-letter {
  color: #3fd4bb;
  font-weight: bolder;
}
a {
  color:black;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}
p {
  font-family: 'Abel', sans-serif;
  color:white;
}
h3 {
  font-family: 'Audiowide', cursive;
  color: #3fd4bb
}

.selected {
  color:white;
  font-weight: 500; 
  font-size:25px;
}
.container {
  display:flex;
  flex-direction: column;
}
.thumbnails-container {
  width:90%;
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.thumbnails {
  width:48%;
  margin:auto;
}
.thumbnails > img {
  width:80%;
}
.thumbnails > img:hover { cursor:pointer }

.thumbnails > h5 {
  margin:2% 4%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white;
  font-family: 'Audiowide', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 800px) {
  nav > ul {
    width:80%;
  }
  .error-video {
    width:80%;
    height:60vw;
    margin:10% auto;
  }
  a, .selected {
    font-size:20px;
  }
  #search-form > button {
    width:25%;
    font-size: 20px;
  }
  #search-input > input {
    height:20px;
  }
}

@media only screen and (max-width: 600px) {
  #search-form {
    width:96%;
  }
  #search-form > input {
    height:20px;
  }
  nav > ul {
    width:100%;
  }
}

@media only screen and (max-width: 350px) {
  #search-form {
    width:100%
  }
}
